.navbar-brand {
    font-size: 38px;
}

.navbar-brand .pptq {
    font-weight: 100;
    color: #888;
}

.navbar-brand .grinder {
    font-weight: 900px;
    margin-left: 4px;
    color: #ddd;
}

.navbar-brand .beta {
    font-size: 24px;
    font-weight: 100;
}

.dropdown-menu {
    min-width: 56px;
}

.share-menu a {
    cursor: default;
}

.main-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.map {
    background-color: #ddd;
    height: 100%;
    width: 100%;
}

.control-col {
    margin: 36px;
}

.control-col > div {
    margin-top: 12px;
}

#reportrange {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
}

.info-window {
    max-width: 240px;
}

#map-search {
    width: 500px;
    max-width: 94%;
    font-size: 15px;
    font-weight: 300;
    font-family: Roboto;
    margin-top: 60px;
    margin-left: 12px;
    padding: 4px;
    text-overflow: ellipsis;
}

/* Bootstrap override */
.modal-dialog {
    width: 900px;
    max-width: 95%;
}

.modal-content {
    overflow: auto;
}
