.main-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.map {
    background-color: #ddd;
    height: 100%;
    width: 100%;
}

.info-window {
    max-width: 300px;
}

input[name="daterange"] {
    width: 100%;
}

#map-search {
    width: 360px;
    font-size: 15px;
    font-weight: 300;
    font-family: Roboto;
    margin-top: 12px;
    margin-left: 12px;
    padding: 4px;
    text-overflow: ellipsis;
}
